* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #5A8197;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-color: #5A8197;
}

.nav-container {
    background-color: rgba(255, 255, 255, .21);
    padding: 10px;
    display: flex;
    width: 85vw;
    text-wrap: nowrap;
    gap: 1.2vw;
    font-size: 1.3vw;
    position: relative;
}

.nav-links {
    color: #F5F5F5;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links img {
    width: 13vw;
}

.nav-container :nth-child(5){
    padding-left: 42vw;
}

i {
    font: 1vh;
    margin-right: 10px;
    color: #F5F5F5;
}

.drop-menu {
    width: max-content;
    display: none;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 5vh;
}

.drop-menu a {
    color: black;
    text-decoration: none;
}

.nav-container :nth-child(6) {
    left: 63rem;
}

.nav-container :nth-child(8) {
    left: 70rem;
}

.container img{
    width: 40rem;
}

.container {
    display: flex;
    max-width: 100%;
    position: relative;
}

.container img {
    overflow: hidden;
    filter: brightness(50%);
}

.header-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    top: 5%;
    left: 10%;
    z-index: 1;
    flex-direction: column;
    gap: 2vw;
    font-size: 2vw;

    color: rgba(245, 245, 245, .58);
    text-align: center;
}

.rect {
    width: 30vw;
    height: 2vw;
    background-color: rgba(245, 245, 245, .58);
    border-radius: 20px;
}